:root {
    --main-bg-color: rgb(1, 39, 39);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color); 
    height: calc(100vh - 4em);
}

.abacus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 65vw;
    border: 2em solid black;
}

.fiver,
.ones {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.fiver {
    height: 6vh;
}
.ones {
    height: 17.5vh;
}

.rod {
    height: 100%;
    width: 5px;
    background-color: tan;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}


#middle {
    width: 100%;
    height: 1.5vh;
    background-color: black;
}

.bead {
    height: 20%;
    width: 20px;
    background-color: brown;
}
